@charset "UTF-8";
img {
  max-width: 100%;
  pointer-events: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container-fluid {
  height: 100vh;
  padding: 0;
  overflow-y: hidden;
  background: #343434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-fluid .sidebar-container {
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: -100;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.container-fluid .sidebar-container.show {
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.container-fluid .sidebar-container .sidebar {
  position: absolute;
  left: -25%;
  height: 100vh;
  width: 25%;
  background: #2e2e2e;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.container-fluid .sidebar-container .sidebar.show {
  left: 0;
}

.container-fluid .sidebar-container .sidebar header {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  background: #b90000;
}

.container-fluid .sidebar-container .sidebar header img {
  height: 50%;
  border-radius: 50%;
}

.container-fluid .sidebar-container .sidebar header h5 {
  color: #eee;
}

.container-fluid .sidebar-container .sidebar nav {
  height: 70%;
  padding: 20px 0px;
}

.container-fluid .sidebar-container .sidebar nav ul {
  list-style: none;
}

.container-fluid .sidebar-container .sidebar nav ul li:last-child {
  margin-top: 50px;
}

.container-fluid .sidebar-container .sidebar nav ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  color: #eee;
}

.container-fluid .sidebar-container .sidebar nav ul li button:hover {
  color: #fff;
}

.container-fluid .sidebar-container .sidebar nav ul li button span {
  margin: 0px 10px;
}

.container-fluid .sidebar-container .sidebar nav ul li .dark-mode-toggler .switch-btn {
  display: inline-block;
  width: 36px;
  /* ширина */
  height: 19px;
  /* высота */
  border-radius: 19px;
  /* радиус скругления */
  background: #bfbfbf;
  /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  /* анимация */
}

.container-fluid .sidebar-container .sidebar nav ul li .dark-mode-toggler .switch-btn::after {
  content: "";
  height: 15px;
  /* высота кнопки */
  width: 16px;
  /* ширина кнопки */
  border-radius: 17px;
  background: #fff;
  /* цвет кнопки */
  top: 2px;
  /* положение кнопки по вертикали относительно основы */
  left: 1px;
  /* положение кнопки по горизонтали относительно основы */
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  /* анимация */
  position: absolute;
  z-index: 1;
}

.container-fluid .sidebar-container .sidebar nav ul li .dark-mode-toggler .switch-on {
  background: #118c4e;
}

.container-fluid .sidebar-container .sidebar nav ul li .dark-mode-toggler .switch-on::after {
  left: 18px;
}

.container-fluid .sidebar-container .sidebar nav ul li .dark-mode-toggler span {
  margin-left: 0;
}

.container-fluid .chatlist-container {
  width: 25%;
  height: 100%;
  border-right: 1px solid #474747;
  -webkit-box-shadow: 1px 0px 3px #000;
          box-shadow: 1px 0px 3px #000;
}

.container-fluid .chatlist-container header {
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .chatlist-container header button {
  display: inline-block;
  position: absolute;
  left: 0;
  background: none;
  border: none;
  color: #eee;
  width: 50px;
  -webkit-transition: 500ms;
  transition: 500ms;
  z-index: 100;
}

.container-fluid .chatlist-container header button:hover {
  color: #fff;
}

.container-fluid .chatlist-container header button.toggled {
  left: 22%;
}

.container-fluid .chatlist-container .chatlist {
  height: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-fluid .chatlist-container .chatlist::-webkit-scrollbar {
  background: rgba(83, 83, 83, 0);
  width: 4px;
}

.container-fluid .chatlist-container .chatlist::-webkit-scrollbar:hover {
  width: 6px;
}

.container-fluid .chatlist-container .chatlist::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: rgba(122, 122, 122, 0);
}

.container-fluid .chatlist-container .chatlist:hover::-webkit-scrollbar {
  background: rgba(83, 83, 83, 0);
  width: 4px;
}

.container-fluid .chatlist-container .chatlist:hover::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 50px;
}

.container-fluid .chatlist-container .chatlist .chat {
  padding: 5px 10px;
  cursor: pointer;
}

.container-fluid .chatlist-container .chatlist .chat.active {
  background: #b90000;
}

.container-fluid .chatlist-container .chatlist .chat.active:hover {
  background: #b90000;
}

.container-fluid .chatlist-container .chatlist .chat:hover {
  background: #2e2e2e;
}

.container-fluid .chatlist-container .chatlist .chat .chat-avatar img {
  border-radius: 50%;
}

.container-fluid .chatlist-container .chatlist .chat .chat-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-fluid .chatlist-container .chatlist .chat .chat-info .username,
.container-fluid .chatlist-container .chatlist .chat .chat-info .message-preview {
  color: #eee;
  margin: 0;
}

.container-fluid .chatlist-container .chatlist .chat .chat-info .username {
  font-size: 20px;
  margin-bottom: 10px;
}

.container-fluid .chatlist-container .chatlist .chat .chat-info .message-preview {
  font-size: 14px;
}

.container-fluid .current-chat-container {
  width: 75%;
}

.container-fluid .current-chat-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 10px;
  background: #2e2e2e;
  border-bottom: 1px solid #474747;
  height: 10%;
  -webkit-box-shadow: 5px 0px 5px #000;
          box-shadow: 5px 0px 5px #000;
}

.container-fluid .current-chat-container header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
}

.container-fluid .current-chat-container header .header-left .current-chat-username,
.container-fluid .current-chat-container header .header-left .online {
  color: #eee;
  margin: 0;
}

.container-fluid .current-chat-container header .header-left .current-chat-username {
  font-size: 18px;
  margin: 0;
}

.container-fluid .current-chat-container header .header-left .online {
  font-size: 14px;
}

.container-fluid .current-chat-container header .header-right > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
}

.container-fluid .current-chat-container header .header-right > ul > li > button {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
  color: #eee;
  padding: 5px 15px;
  height: 100%;
}

.container-fluid .current-chat-container header .header-right > ul > li > button:hover {
  color: #fff;
  background: #383838;
}

.container-fluid .current-chat-container header .header-right > ul .in-chat-menu {
  height: 0;
  overflow: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
  position: absolute;
  top: 118%;
  right: -10px;
  background: #2e2e2e;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: none;
  -webkit-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
}

.container-fluid .current-chat-container header .header-right > ul .in-chat-menu.show {
  height: 100px;
  border: 1px solid #474747;
}

.container-fluid .current-chat-container header .header-right > ul .in-chat-menu button {
  border: none;
  background: none;
  color: #eee;
  padding: 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
}

.container-fluid .current-chat-container header .header-right > ul .in-chat-menu button:hover {
  background-color: #4d4d4d;
}

.container-fluid .current-chat-container header .header-right > ul .in-chat-menu button svg {
  margin-right: 10px;
}

.container-fluid .current-chat-container .current-chat {
  height: 82%;
}

.container-fluid .current-chat-container .current-chat-footer {
  height: 8%;
  border-top: 1px solid #474747;
  background: #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-fluid .current-chat-container .current-chat-footer .attach-file {
  display: none;
}

.container-fluid .current-chat-container .current-chat-footer label[for="attachFile"] {
  width: 5%;
  height: 100%;
  color: #eee;
  cursor: pointer;
  padding: 10px 0px;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.container-fluid .current-chat-container .current-chat-footer label[for="attachFile"]:hover {
  background: #2e2e2e;
  color: #b90000;
}

.container-fluid .current-chat-container .current-chat-footer input[type="text"] {
  width: 85%;
  padding: 5px 0px;
  background: none;
  outline: none;
  border: none;
  color: #fff;
}

.container-fluid .current-chat-container .current-chat-footer .send-message,
.container-fluid .current-chat-container .current-chat-footer .toggle-emoji-panel {
  width: 4%;
  background: none;
  border: none;
  color: #eee;
  -webkit-transition: 300ms;
  transition: 300ms;
  padding: 5px 0px;
}

.container-fluid .current-chat-container .current-chat-footer .send-message:hover,
.container-fluid .current-chat-container .current-chat-footer .toggle-emoji-panel:hover {
  background: #2e2e2e;
  color: #b90000;
}

.container-fluid .current-chat-container .current-chat-footer .emoji-panel {
  display: none;
  width: 300px;
  height: 200px;
  padding: 10px;
  position: absolute;
  background: #2e2e2e;
  right: 20px;
  bottom: 8%;
  overflow: hidden scroll;
}

.container-fluid .current-chat-container .current-chat-footer .emoji-panel.show {
  display: initial;
}

.container-fluid .current-chat-container .current-chat-footer .emoji-panel .emoji {
  width: calc(100% / 6);
  border: none;
  background: none;
  padding: 5px 0px;
  color: #eee;
}

.container-fluid .current-chat-container .current-chat-footer .emoji-panel .emoji:hover {
  background-color: #474747;
}

.container-fluid .settings-container {
  z-index: -100;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.container-fluid .settings-container.showing {
  -webkit-animation: settingsShowing 300ms;
          animation: settingsShowing 300ms;
}

.container-fluid .settings-container.hiding {
  -webkit-animation: settingsHiding 300ms;
          animation: settingsHiding 300ms;
}

.container-fluid .settings-container.show {
  z-index: 500;
}

.container-fluid .settings-container .settings {
  width: 30%;
  height: 90%;
  background: #2e2e2e;
}

.container-fluid .settings-container .settings header {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  background: #b90000;
}

.container-fluid .settings-container .settings header img {
  height: 50%;
  border-radius: 50%;
}

.container-fluid .settings-container .settings header h5 {
  color: #eee;
}

.container-fluid .settings-container .settings nav {
  height: 70%;
  padding: 40px;
}

.container-fluid .settings-container .settings nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-fluid .settings-container .settings nav ul li:last-child {
  margin-top: 50px;
}

.container-fluid .settings-container .settings nav ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  color: #eee;
  width: 100%;
  padding: 10px;
}

.container-fluid .settings-container .settings nav ul li button:hover {
  color: #fff;
  background: #555555;
}

.container-fluid .settings-container .settings nav ul li button span {
  margin: 0px 10px;
}

@-webkit-keyframes settingsShowing {
  from {
    background: none;
    .settings {
      opacity: 0;
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
  }
  to {
    background: rgba(0, 0, 0, 0.4);
    .settings {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

@keyframes settingsShowing {
  from {
    background: none;
    .settings {
      opacity: 0;
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
  }
  to {
    background: rgba(0, 0, 0, 0.4);
    .settings {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

@-webkit-keyframes settingsHiding {
  from {
    background: rgba(0, 0, 0, 0.4);
    .settings {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  to {
    background: none;
    .settings {
      opacity: 0;
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
  }
}

@keyframes settingsHiding {
  from {
    background: rgba(0, 0, 0, 0.4);
    .settings {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  to {
    background: none;
    .settings {
      opacity: 0;
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
  }
}
/*# sourceMappingURL=styles.css.map */