img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

$fontColor: #eee;
$accentColor: rgb(185, 0, 0);

.container-fluid {
    height: 100vh;
    padding: 0;
    overflow-y: hidden;
    background: #343434;
    display: flex;

    @import "./components/components";

    @import "./sidebar/sidebar";
    @import "./chatlist/chatlist";
    @import "./current-chat/current-chat-container";
}