.chatlist {
    width: 25%;
    height: 100%;
    padding: 20px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid rgb(71, 71, 71);
    box-shadow: 1px 0px 3px #000;
    z-index: 100;

    @include scrollbar;

    .chat {
        @include chat;
    }
}