@mixin chat {
    padding: 5px 10px;
    cursor: pointer;

    &.active {
        background: $accentColor;

        &:hover {
            background: $accentColor;
        }
    }

    &:hover {
        background: rgb(46, 46, 46);
    }

    .chat-avatar {

        img {
            border-radius: 50%;
        }
    }

    .chat-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .username,
        .message-preview {
            color: $fontColor;
            margin: 0;
        }

        .username {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .message-preview {
            font-size: 14px;
        }
    }
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        background: rgba(83, 83, 83, 0);
        width: 4px;
        
        &:hover {
            width: 6px;
        }
    }
    
    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        background: rgba(122, 122, 122, 0);
    }

    &:hover {

        &::-webkit-scrollbar {
            background: rgba(83, 83, 83, 0);
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(122, 122, 122);
            border-radius: 50px;
        }
    }
}

@mixin switcher {
    .switch-btn {
        display: inline-block;
        width: 36px;
        /* ширина */
        height: 19px;
        /* высота */
        border-radius: 19px;
        /* радиус скругления */
        background: #bfbfbf;
        /* цвет фона */
        z-index: 0;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        position: relative;
        transition-duration: 300ms;
        /* анимация */

        &::after {
            content: "";
            height: 15px;
            /* высота кнопки */
            width: 16px;
            /* ширина кнопки */
            border-radius: 17px;
            background: #fff;
            /* цвет кнопки */
            top: 2px;
            /* положение кнопки по вертикали относительно основы */
            left: 1px;
            /* положение кнопки по горизонтали относительно основы */
            transition-duration: 300ms;
            /* анимация */
            position: absolute;
            z-index: 1;
        }
    }

    .switch-on {
        background: #118c4e;

        &::after {
            left: 18px;
        }
    }
}